@font-face{
    font-family: 'Raleway';
    src: url('fonts/Raleway-VariableFont_wght.ttf');
}

body{
    font-family: 'Raleway', Impact, "Arial Black", sans-serif;
    margin-bottom: 3em; 
    margin-top: 1em;
    margin-right: 5em;
    margin-left: 5em;
}

main{
    margin-left: 2em;
}

a{
    color: black;
    cursor: pointer;
    text-decoration: none;
    margin: 0;
}

p{
    font-size: 1em;
    margin: 0.3em 0 0.3em 0;
}

section{
    margin-top: 3em;
}

h1, h2{
    font-size: 1.3em;
}

h3{
    font-size: 1.2em;
    margin: 0.3em 0 0.3em 0;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.menu{
    display: flex;
    height: 8em;
    width: 30em;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.menuStyle{
    display: flex;
    height: 100%;
    width: 33%;
    align-items: center;
    justify-content: center;
}

.menuStyle:hover{
    border-top: 0.2em solid #0065FC;
    color: #0065FC;
}

.menuSpe{
    font-weight: bold;
    color: #0065FC;
}

.logo{
    content:url(images/logo/Reservia@3x.png);
    height: 4em;
    width: auto;
    align-self: center;
}

.searchBar{
    display: inline-flex;
    margin: 2em 0 2em 0;
    height: 3.5em;
    width: 30%;
}

.mapIcon{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 1em 0 0 1em;
}

.search{
    height: 100%;
    width: 100%;
    border-color: #F2F2F2;
    box-sizing: border-box;
    padding: 2px 0 2px 0;
    font: bold 1.1em 'Raleway', Impact, "Arial Black", sans-serif;
}

.search:focus{
    outline: none;
}

.searchButton{
    height: 100%;
    width: 40%;
    background-color: #0065FC;
    border-radius: 0 1em 1em 0;
    border: none;
    font-size: 1.1em;
    color: white;
    cursor: pointer;
}

.searchButton:focus{
    outline: none;
}

.filters{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 3em;
    width: 100%;
}

.filters > div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 3em;
    width: auto;
    border: 2px solid #d6d6d6;
    border-radius: 1.5em 1.5em 1.5em 1.5em;
}

.iconFilt{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 3em;
    background-color: #DEEBFF;
    border: 3px solid #DEEBFF;
    border-radius: 1.5em 1.5em 1.5em 1.5em;
}

.txtFilt{
    margin: 0 1em 0 1em;
}

.results{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.totalResults{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filtered{
    background-color: #F2F2F2;
    height: auto;
    width: 65%;
    border-radius: 1em;
    padding: 1em 2em 1em 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.filteredCard{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 35em;
    padding-top: 1.5em;
}

.card{
    background-color: white;
    width: 28%;
    height: 40%;
    border-radius: 1em;
    padding: 5px;
    box-shadow: 0px 0px 10px 0px rgba(219, 219, 219, 0.75);
    display: flex;
    flex-direction: column;
}

.cardContent{
    display: flex;
    flex-direction: column;
    padding-left: 0.8em;
}

.card > img{
	width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 1em 1em 0em 0em;
}

.popResults{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    height: auto;
    width: 23%;
    border-radius: 1em;
    padding: 1em 2em 1em 2em;
}

.logoTitlePop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.filteredPop{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.cardPop{
    display: flex;
    flex-flow: column wrap;
    background-color: white;
    width: 100%;
    height: 150px;
    border-radius: 1em;
    padding: 5px;
    box-shadow: 0px 0px 10px 0px rgba(219, 219, 219, 0.75);
}

.cardPop > img{
    width: 40%;
    height: 100%;
    object-fit: cover;
    border-radius: 1em 0em 0em 1em;
}

.cardContentPop{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 58%;
    height: 100%;
    padding-left: 10px;
}

.popStar{
    display: inline-flex;
    margin: 0.3em 0em 0.3em 0em;
}

.fa-star{
    color: #0065FC;
    padding-right: 0.2em;
}

.gray{
    color: #F2F2F2;
}


.popStar:hover .fa-star{
    color: #0065FC;
}

.popStar .fa-star:hover ~ .fa-star{
    color: #F2F2F2;
}

.activityTown{
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
}

.activityCard{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 35em;
    width: 50%;
}

.bigCard{
    height: 100%;
    width: 45%;
    border-radius: 1em 1em 1em 1em;
    box-shadow: 0px 0px 15px 0px rgba(204, 198, 198, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.litCard{
    height: 45%;
    width: 45%;
    border-radius: 1em 1em 1em 1em;
    box-shadow: 0px 0px 15px 0px rgba(204, 198, 198, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bigCard > img{
    height: 92%;
    width: 100%;
    object-fit: cover;
    border-radius: 1em 1em 0 0;
}

.litCard > img{
    height: 80%;
    width: 100%;
    object-fit: cover;
    border-radius: 1em 1em 0 0;
}

.titleActCard{
    display: flex;
    margin-left: 1em;
    flex-grow: 1;
    align-items: center;
}

.footer{
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-around;
    height: 13em;
    padding-top: 1em;
    padding-right: 15em;
    margin-top: 3em;
}

.footerContent{
    display: flex;
    flex-direction: column;
}
