@font-face{
    font-family: 'Raleway';
    src: url('fonts/Raleway-VariableFont_wght.ttf');
}

body{
    font-family: 'Raleway', Impact, "Arial Black", sans-serif;
    margin: 0;
}

main{
    margin: 0 3% 0 3%;
}

a{
    color: black;
    cursor: pointer;
    text-decoration: none;
    margin: 0;
}

p{
    font-size: 1em;
    margin: 0.3em 0 0.3em 0;
}

section{
    margin-top: 2em;
}

h1, h2{
    font-size: 1.3em;
    font-weight: bold;
}

h3{
    font-size: 1.2em;
    margin: 0.3em 0 0.3em 0;
    font-weight: bold;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.menu{
    display: flex;
    height: 8em;
    width: 30em;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.menuStyle{
    display: flex;
    height: 100%;
    width: 33%;
    align-items: center;
    justify-content: center;
    border-top: 0.2em solid;
    border-color: transparent;
    font-weight: bold;
}

.menuStyle:hover{
    border-top: 0.2em solid #0065FC;
    color: #0065FC;
}

.menuSpe{
    font-weight: bold;
    color: #0065FC;
}

.logo{
    content:url(images/logo/Reservia@3x.png);
    height: 4em;
    width: auto;
    align-self: center;
}

.searchBar{
    display: inline-flex;
    margin: 2em 0 2em 0;
    height: 3.5em;
    width: 30%;
}

.mapIcon{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    font-size: 1.2em;
    border-radius: 1em 0 0 1em;
}

.search{
    height: 100%;
    width: 100%;
    border: 2px solid #F2F2F2;
    padding: 2px 0 2px 0;
    font: bold 1.1em 'Raleway', Impact, "Arial Black", sans-serif;
    text-indent: 1em;
}

::placeholder{
    color: black;
}

.search:focus{
    outline: none;
}

.searchButton{
    height: 100%;
    width: 40%;
    background-color: #0065FC;
    border-radius: 0 1em 1em 0;
    border: none;
    font-size: 1.1em;
    color: white;
    cursor: pointer;
}

.showOnMobile{
    display: none;
}

.filtersBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 65%;
}

.filters{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 90%;
}

.buttonFilt{
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 4em;
    width: auto;
    border: 2px solid #d6d6d6;
    background-color: white;
    border-radius: 2em 2em 2em 2em;
}

.buttonFilt:hover{
    background-color: #0065FC;
    transition: background-color 0.5s linear;
    color: white;
    transition: color 0.5s;
}

.iconFilt{
    font-size: 2.1em;
    right: 0.6em;
}

.icoSize{
    font-size: 0.7em;
}

.blue{
    color: #0065FC;
}

.Lblue{
    color: #DEEBFF;
}

.txtFilt{
    position: relative;
    right: 0.8em;
    font-size: 1.2em;
    margin: 0.3em 0 0.3em 0;
    font-weight: bold;
}

.results{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    margin-top: 2em;
}

.results > p{
    margin-left: 1em;
}

.totalResults{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filtered{
    background-color: #F2F2F2;
    height: auto;
    width: 65%;
    border-radius: 1em;
    padding: 1em 2em 1em 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.filteredCard{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 35em;
    padding-top: 1.5em;
}

.card{
    background-color: white;
    width: 28%;
    height: 40%;
    border-radius: 1em;
    padding: 5px;
    box-shadow: 0px 0px 10px 0px rgba(219, 219, 219, 0.75);
    display: flex;
    flex-direction: column;
}

.cardContent{
    display: flex;
    flex-direction: column;
    padding-left: 0.8em;
}

.card > img{
	width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 1em 1em 0em 0em;
}

.popResults{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    height: auto;
    width: 23%;
    border-radius: 1em;
    padding: 1em 2em 1em 2em;
}

.logoTitlePop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logoTitlePop .fa-2x{
    font-size: 1.5em;
}

.filteredPop{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.cardPop{
    display: flex;
    flex-flow: column wrap;
    background-color: white;
    width: 100%;
    height: 150px;
    border-radius: 1em;
    padding: 5px;
    box-shadow: 0px 0px 10px 0px rgba(219, 219, 219, 0.75);
}

.cardPop > img{
    width: 40%;
    height: 100%;
    object-fit: cover;
    border-radius: 1em 0em 0em 1em;
}

.cardContentPop{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 58%;
    height: 100%;
    padding: 0.4em 0 0.4em 10px;
}

.popStar{
    display: inline-flex;
    margin: 0.3em 0em 0.3em 0em;
}

.fa-star{
    color: #0065FC;
    padding-right: 0.2em;
}

.gray{
    color: #F2F2F2;
}

.popStar:hover .fa-star{
    color: #0065FC;
}

.popStar .fa-star:hover ~ .fa-star{
    color: #F2F2F2;
}

.activityTown{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
}

.totalActiCard{
    display: flex;
    flex-direction: row;
    margin-top: 0.8em;
    height: 30em;
}

.respMedium{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.activityLitCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    width: auto;
    margin-left: 3em;
}

.mod{
    width: 106%;
}

.bigCard{
    height: 100%;
    width: auto;
    border-radius: 1em 1em 1em 1em;
    box-shadow: 0px 0px 15px 0px rgba(204, 198, 198, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bigCard2{
    height: 100%;
    width: auto;
    border-radius: 1em 1em 1em 1em;
    box-shadow: 0px 0px 15px 0px rgba(204, 198, 198, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 3em;
}

.litCard{
    height: 45%;
    width: auto;
    border-radius: 1em 1em 1em 1em;
    box-shadow: 0px 0px 15px 0px rgba(204, 198, 198, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bigCard > img{
    height: 86%;
    width: 100%;
    object-fit: cover;
    border-radius: 1em 1em 0 0;
}

.bigCard2 > img{
    height: 86%;
    width: 100%;
    object-fit: cover;
    border-radius: 1em 1em 0 0;
}

.litCard > img{
    height: 70%;
    width: 100%;
    object-fit: cover;
    border-radius: 1em 1em 0 0;
}

.titleActCard{
    display: flex;
    margin-left: 1em;
    flex-grow: 1;
    align-items: center;
}

.footer{
    display: flex;
    align-items: center;
    background-color: #F2F2F2;
    width: 100%;
    height: 13em;
    margin: 3em 0 1em 0;
}

.footerContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50%;
    width: 75%;
    margin-left: 3em;
}

.footerP{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footerLinks{
    display: flex;
    flex-direction: column;
    height: 60%;
}

.footerLinks > a{
    margin-top: 0.3em;
}

@media screen and (max-width: 767px){
    body{
        margin: unset;
    }

    main{
        margin: unset;
    }

    section{
        margin-top: 1em;
    }

    p{
        font-size: 0.8em;
        margin: 0.2em 0 0.2em 0;
    }

    h1, h2 {
        font-size: 1.2em;
    }

    h3{
        font-size: 1em;
        margin: 0.2em 0 0.2em 0;
    }

    .nav{
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 1.5em;
    }

    .logo{
        margin-left: 4%;
    }

    .menu{
        height: 3em;
        width: 100%;
        margin: 1.5em 0 1.5em 0;
    }
    
    .logo{
        height: 2.5em;
    }

    .menuStyle:hover {
        border-top: 0.2em solid white;
        color: #0065FC;
    }

    .respStyle{
        border-bottom: 0.2em solid #F2F2F2;
        width: 50%;
    }

    .respStyle:hover{
        border-bottom: 0.2em solid #0065FC;
        color: #0065FC;
    }

    .menuSpe{
        position: absolute;
        height: auto;
        top: 2.1em;
        width: auto;
        right: 5%;
    }

    .respHeaderTitle{
        margin: 0 4% 0 4%;
    }

    .searchBar{
        width: auto;
        height: 3em;
        margin: 1.5em 4% 1.5em 4%;
    }

    .mapIcon{
        width: 4.5em;
    }

    .search{
        font: bold 0.8em 'Raleway', Impact, "Arial Black", sans-serif;
        text-indent: 0.8em;
    }

    .searchButton{
        width: 4.5em;
        border-radius: 0.9em 0.9em 0.9em 0.9em;
        position: relative;
        right: 0.6em;
    }

    .showOnDesktop{
        display: none;
    }

    .showOnMobile{
        display: block;
    }

    .filtersBar{
        width: auto;
        flex-direction: column;
        align-items: unset;
        margin: 0 4% 0 4%;
    }

    .filters{
        width: 100%;
        flex-wrap: wrap;
    }

    .buttonFilt{
        height: 3.4em;
        border-radius: 1.7em 1.7em 1.7em 1.7em;
        margin-top: 0.9em;
        padding: 0;
    }

    .iconFilt{
        font-size: 1.8em;
        right: 0.6em;
    }

    .results{
        margin: 1.5em 4% 0 4%;
    }

    .totalResults{
        flex-direction: column-reverse;
        width: 100%;
    }

    .logoTitlePop .fa-2x{
        font-size: 1.3em;
    }

    .popResults{
        width: auto;
        flex-grow: 1;
        border-radius: unset;
        padding: 0.5em 1.5em 1.5em 1.5em;
    }

    .cardPop{
        height: 8em;
        margin-bottom: 0.9em;
        padding: 4px;
    }

    .cardContentPop{
        padding: 0.5em 0 0.5em 10px;
    }

    .filtered{
        background-color: inherit;
        width: auto;
        flex-grow: 1;
        padding: 1em 1.5em 0 1.5em;
    }

    .filteredCard{
        flex-direction: column;
        height: auto;
        padding-top: 0;
    }

    .card{
        width: auto;
        height: 12em;
        margin-bottom: 0.9em;
        padding: 4px;
    }

    .cardContent {
        padding: 0.3em 0 0 0.6em;
    }

    .activityTown{
        flex-direction: column;
        width: auto;
        padding: 1em 1.5em 0 1.5em;
    }

    .totalActiCard{
        flex-direction: column;
        margin-top: 0.9em;
        height: auto;
    }

    .respMedium{
        display: unset;
        flex-direction: unset;
    }

    .mod{
        width: unset;
    }

    .activityLitCard{
        height: auto;
        width: 100%;
        margin: unset;
    }

    .bigCard{
        width: auto;
        height: 9em;
        margin-bottom: 1em;
    }

    .bigCard2{
        width: auto;
        height: 9em;
        margin: unset;
        margin-bottom: 1em;
    }

    .bigCard > img{
        height: 70%;
    }

    .bigCard2 > img{
        height: 70%;
    }

    .litCard {
        width: auto;
        height: 9em;
        margin-bottom: 1em;
    }

    .litCard > img{
        height: 70%;
    }

    .footer{
        align-items: center;
        padding: 2em 1.5em 0 1.5em;
        margin-top: 2em;
        height: 23em;
        width: auto;
    }

    .footerContent{
        margin-bottom: 2em;
        margin-left: unset;
        flex-direction: column;
        height: 93%;
        width: auto;
    }

    .footerP{
        height: auto;
    }

    .footerLinks > a{
        margin-top: 0.3em;
    }
}

@media screen and (min-width: 768px) and (max-width: 1440px){

    main{
        margin: 0 3% 0 3%;
    }

    .searchBar{
        width: 50%;
    }

    .filters{
        flex-wrap: wrap;
    }

    .filtersBar{
        align-items: unset;
        width: auto;
    }

    .buttonFilt{
        margin: 0.5em 0 0.5em 0;
    }

    .totalResults{
        flex-direction: column;
        justify-content: space-between;
    }

    .filtered{
        width: auto;
    }

    .filteredCard{
        padding: unset;
    }

    .card{
        height: 46%;
        margin-bottom: 2em;
    }

    .cardContent{
        height: 100%;
        justify-content: space-around;
    }

    .popResults{
        flex-direction: column;
        width: 26em;
        margin-top: 2em;
        padding: 1em 2em 2em 2em;
    }

    .logoTitlePop{
        flex-direction: row;
        width: auto;
        margin-bottom: 0.5em;
    }

    .filteredPop{
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .cardPop{
        margin-bottom: 2em;
        width: auto;
    }

    .cardContentPop {
        padding:0.5em 0 0.5em 10px;
    }

    .activityTown{
        height: auto;
    }

    .totalActiCard{
        flex-direction: column;
        height: 50em;
    }

    .respMedium{
        display: flex;
        flex-direction: row;
        height: 45%;
        width: auto;
        margin-bottom: 2em;
    }

    .bigCard{
        width: 80%;
    }

    .bigCard2{
        width: 73%;
        margin: unset;
    }

    .activityLitCard{
        width: auto;
        margin-left: 2em;
    }

    .footer{
        margin-top: unset;
    }
    
    .footerContent{
        width: 90%;
        margin-left: 2em;
    }
}
